:root{
    --color-purple: rgb(32, 0, 107);

}

.title-size{
    color: var(--color-purple);
    font-size: 1.5rem;
}

.container .navbar-toggler {
    box-shadow: none ; 
    border-width: 2px;
    border-color: var(--color-purple);
}

.bi-filter-right{
    font-size: 1.5rem;
    color: var(--color-purple);
}